* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}
.navbar {
  background-color: #854cb4;
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.navbar-center {
  height: 5rem;
  flex-grow: 1;
  text-align: center;
  margin-left: 5rem;
}

.navbar-right {
  margin-top: 1rem;
  align-items: center;
  margin-right: 1%;
  width: 7.4rem;
}
.navbar-brand img {
  margin-top: 10rem;
  margin-left: 3rem;
  height: 100%;
}
.login-button {
  padding: 10px 20px;
  background-color: white;
  color: #854cb4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.log-in:link,
.log-in:visited {
  color: #854cb4;
  text-decoration: none;
}
.log-out:link,
.log-out:visited {
  color: white;
}
.login-button:hover {
  background-color: rgb(236, 236, 236);
  transition: 0.5s;
}
.content {
  height: 100%;
  width: 100%;
  background-image: url("../assets/taipei_panorama.jpg");
  background-size: cover;
}
form {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trip-type {
  display: flex;
  margin-top: 2rem;
}

.trip-type label {
  display: inline-block;
  cursor: pointer;
  margin-left: 8px;
}

.airport-selectors {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 2rem;
}

.date-selectors-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.date-selectors-search label {
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 0.1rem;
}
.date-selectors-search input[type="date"] {
  border: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.apt-selector {
  min-width: 20%;
  max-width: 50%;
}

.dep-arrival {
  float: left;
}

.search-button {
  float: right;
}

label {
  margin-right: 10px;
}

select,
input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.interchange-airports {
  padding: 0.2rem;
  background: rgba(255, 255, 255, 0);
  border: #854cb400;
}

.interchange-airports:hover {
  cursor: pointer;
}

.disabled-button {
  padding: 10px;
  background-color: #a8a8a8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
}

.search-button {
  padding: 10px;
  background-color: #550994;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
